{% macro render_tree(tree) %}
<ul class="folder-tree">
{% for name, node in tree.items() %}
    <li>
        <details open>
            <summary>{{ name }}</summary>
            <ul>
                {% for file in node.yaml_files %}
                    <li><a href="{{ file.stem }}.html">{{ file.stem }}</a></li>
                {% endfor %}
                {% if node.subfolders %}
                    {{ render_tree(node.subfolders) }}
                {% endif %}
            </ul>
        </details>
    </li>
{% endfor %}
</ul>
{% endmacro %}

{{ render_tree(tree) }}
